:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #333333;

    --bgHeader: #5c5c5c;

    --bgHome1: #1a1a1a;
    --bgHome2: #ececec;

    --bgButton: #333333;
    --bgbuttonMusic: #b6b6b6c4;
    --bgbuttonMusicHover: #e7e7e7c4;


    --shadow: #00000050;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerBody {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    height: 8vh;
    width: 100%;
    background: var(--bgHeader);
}

.headerBody .logo {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    color: var(--white);
}

.buttonHeader {
    width: 45px;
    height: 20px;
    border: none;
    border-radius: 26px;
    position: relative;
    display: flex;
    align-items: center;
    background: var(--bgButton);
}

.buttonHeaderDay {
    width: 45px;
    height: 20px;
    border: none;
    border-radius: 26px;
    position: relative;
    display: flex;
    align-items: center;
    background: var(--bgButton);
}

.buttonNight {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: var(--bgHome1);
    left: 0;

    animation: slide-back 0.4s;
}

.buttonNightActive {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: var(--black);
    left: 0;
    opacity: 0;

}

.buttonDay {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: var(--white);
    right: 0;
    opacity: 0;
}

.buttonDayActive {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: var(--white);
    right: 0;

    animation: slide-in 0.4s forwards;
}

.homeBody {
    height: 100vh;
    padding: 10vh 20px;
    background: var(--bgHome1);
}

.homeNight {
    background: var(--bgHome1);
    color: var(--white);
}

.homeDay {
    background: var(--bgHome2);
    color: var(--black);
}

.bodyMusic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgMusic {
    border-radius: 8px;
    background-image: url(./Assets/fixyou.jpg);
    background-size: cover;
    background-position: center;
    max-width: 800px;
    width: 100%;
}

.boxMusic {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    gap: 20px;
    padding: 10px 10px;
}

.infoMusic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--white);
}

.imageMusic {
    height: 70px;
    width: 70px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 0 10px var(--shadow);
}

.buttonMusicNight,
.buttonMusicDay  {
    background: none;
    border: none;
    border-radius: 50%;
    border: none;
    height: 35px;
    width: 35px;
    padding: 10px;
    margin: 10px;
    justify-items: center;
    background: var(--bgbuttonMusic);
}

.buttonMusicNight:hover, 
.buttonMusicDay:hover {
    background: var(--bgbuttonMusicHover);
}

.play {
    display: flex;
    height: 100%;
}

.playOn {
    display: none;
}

.pause {
    display: none;
}

.pauseOn {
    height: 100%;
    display: flex;
}

.timelineBody {
    width: 150px;
}

.line {
    width: 100%;
    border-radius: 26px;
    height: 5px;
    background: var(--bgbuttonMusic);
    transition: 0.2s;
}

.line:hover {
    height: 6px;
    background: var(--bgbuttonMusicHover);
}

.time {
    font-size: 0.765rem;
    font-family: 'Merriweather', serif;
}

@keyframes slide-in {
    from {
        left:0
    }
    to{
        left: 50%;
    }
}

@keyframes slide-back {
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}